<h1><%= t( 'static_pages.about.about_page_header' ) %></h1>
<p><%= t( 'static_pages.about.about_page_desc' ) %></p>
<p><%= t( 'static_pages.about.about_page_desc2' ) %></p>
<ul>
  <li><%= link_to t( 'static_pages.about.about_contact' ), "#" %></li>
  <li><%= link_to t( 'static_pages.about.about_gallery' ), "#" %></li>
  <li><%= link_to t( 'static_pages.about.about_signup' ), "#" %></li>
</ul>
