<h1 class="title"><%= t( 'static_pages.blog.blog_page_title' ) %></h1>
<p class="sub-title"><%= t( 'static_pages.blog.blog_page_subtitle') %></p>

<figure>
  <%= image_tag("hipsters.jpeg", width: "800px") %>
  <figcaption><%= t( 'static_pages.blog.blog_figcaption1' ) %></figcaption>
</figure>


<p class="credits"><%= t( 'static_pages.blog.blog_credits' ) %><span class="float-right">Oct. 20, 2014 | 12:04 p.m. EDT</span></p>
<article>
  <p><%= t( 'static_pages.blog.blog_paragraph1' ) %></p>

  <p><%= t( 'static_pages.blog.blog_paragraph2' ) %></p>

  <p><%= t( 'static_pages.blog.blog_paragraph3' ) %></p>
</p>

  <h3><%= t( 'static_pages.blog.blog_heading2' ) %></h3>

  <p><%= t( 'static_pages.blog.blog_paragraph4' ) %></p>

  <p><%= t( 'static_pages.blog.blog_paragraph5' ) %></p>

  <p><%= t( 'static_pages.blog.blog_paragraph6' ) %></p>
</article>